body {
    margin: 0;
    padding: 0;
    color: #333;
    background: #1099bb;
}

#app {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}